<div class="footer">
    <center>
        @author
        <br>
        @year
        <br>
        <br>
        Beta @version
    </center>
</div>






@code {

    int year = DateTime.Now.Year;
    string author = "Copyright FirstLight Federal Credit Union";
    string version = "Version 1.6";

}